footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
}
.contact {
  background-color: #ffe7e7;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}

.contact h3 {
  color: #1044ff;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.contact h2 {
  color: #112a52;
  font-family: "Noticia Text";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  margin-top: 0;
}
.contact-boxes {
  display: flex;
  flex-flow: columnwrap;
  justify-content: space-between;
  width: 100%;
}

.details-box {
  background-color: #ffffff;
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.information {
  background-color: #1044ff;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.information h2,
.information h4 {
  color: #ffe7e7;
}

#about {
  width: 45%;
  display: flex;
  flex-flow: column wrap;
  align-items: left;
}

#map {
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.social-icons {
  padding-left: 0;
  display: flex;
}
.social-icons i {
  margin: 10px;
}

.copyrights {
  background-color: #0c1f3f;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}
